@font-face {
  font-family: "main-font";
  src: url("KumbhSans-Regular.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "bold-font";
  src: url("KumbhSans-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "second-font";
  src:url("KumbhSans-Light.ttf") format("truetype");
  font-weight: 400;
}


.body {
  margin: 0;
  padding: 0;
  background: lightblue;
  background-image: url(bg-pattern-top.svg), url(bg-pattern-bottom.svg);
  background-position: -90% 100%, 170% -70%;
  background-repeat: no-repeat, no-repeat;
}

.profile-card {
  width: 25%;
  height: 50%;
  margin: auto;
  margin-top: 10%;
  background-color: white;
  background-image: url("bg-pattern-card.svg");
  background-repeat: no-repeat;
  border-radius: 15px;
}

.about-me {
  width: 100%;
  text-align: center;
}

.about-me__image {
  border-radius: 50%;
  border: 5px solid white;
  margin-top: 90px;
}

.social-media {
  font-family: "main-font";
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}