@font-face {
  font-family: "main-font";
  src: url("KumbhSans-Regular.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "second-font";
  src:url("KumbhSans-Regular.ttf") format("truetype");
  font-weight: 400;
}


.body {
  margin: 0;
  padding: 0;
  background: lightblue;
}

.profile-card {
  width: 25%;
  height: 50%;
  margin: auto;
  margin-top: 10%;
  display: inline-block;
  background-color: white;
  background-image: url("bg-pattern-card.svg");
  background-repeat: no-repeat;
  border-radius: 15px;
}

.about-me__image {
  border-radius: 50%;
  border: 5px solid white;
}

.social-media {
  font-family: "main-font";
  display: flex;
  justify-content: space-around;
}